@charset "utf-8";
/* CSS Document */
/*布局*/

html, body {
  font-size: 1.5em;
	font-family: sans-serif;
  text-align: center;
}
table {
  line-height: 1.6;
	text-align: center;
  font-size: 100%;
}

.wikitable > caption {
	font-weight: bold;
}
.wikitable {
	background-color: #f8f9fa;
	color: #202122;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}
.wikitable > tr > th, .wikitable > * > tr > th {
	background-color: #eaecf0;
	text-align: center;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}
a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}
