@charset "utf-8";
/* CSS Document */
/*布局*/
body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5vw 2vw 60vw 5vw;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 2;
}
#top{
	grid-column: 1 / span 2;
	background: #eaeaea;
    display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: center;
  	justify-items: center;
	
    
}


/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 70em;
  padding: 1em 0;
}

header,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
	font-size: 18px;
}
a {text-decoration:none;}
/*下划线阴影*/
.t1 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
	height: 100%;

}
.t1:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background:#BD1A1D;
  height: 4px;
 
  transform: translateY(4px);
 
  transition-property: transform;
  
  transition-duration: 0.1s;
 
  transition-timing-function: ease-out;
}
.t1:hover:before, .t1:focus:before, .t1:active:before {
  
  transform: translateY(0);
}
