@charset "utf-8";
/* CSS Document */
/*布局*/

html, p {
  	font-size: 1.5em;
	font-family: sans-serif;
	background-color: black;
	color: white;
}
table {
  	line-height: 1.6;
	text-align: center;
  	font-size: 100%;
	background-color: black;
	color: white;
}

.wikitable > caption {
	font-weight: bold;
}
.wikitable {
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}
.wikitable > tr > th, .wikitable > * > tr > th {
	text-align: center;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}
